@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

a{
    font-family: sans-serif, Arial, Helvetica, sans-serif, 'Noto Sans';
}

p{
    font-family: sans-serif, Arial, Helvetica, sans-serif, 'Noto Sans';
}

.header{
    height: 80px;
    width: 100%;
    background: white;
    border-style: solid;
    border-color: white white #E24307;
    border-width: 1px;
    position: sticky;
    
}

.header-content{
    display: flex;
    margin-top: 15px;
}

.header-content a{
    margin-top: 30px ;
    color: #323643;
    font-size: 1rem;
    font-weight: bold;
}

.header-content a:hover{
    color: #E24307;

}
.header-content img{
    height: 60px;
    width: 60px;
    margin-left: 1rem;
}

.logo{
    margin: 0px 0px 0px 10px;

}
.logout{
    margin: 0px 0px 0px 10px;
}
.collapse{
    margin: 0px 0px 0px 10px;
}
.ibanking{
    margin: 0px 0px 0px 0px;
}
.acct{
    margin: 0px 0px 0px 850px;
}
.notification{
    margin: 0px 0px 0px 10px;
}

.dashboard{
    margin-top: 0px;
    background-color: #323643;
    width: 250px;
    height: 88%;
    position: fixed;
    overflow-y: scroll;
}
.top{
    display: flex;
    margin-top: 30px;
    margin-left: 15px;
}

.profile-details div{
    display: flex;
    font-size: 12px; 
    margin-left:50px; 
    color: white

}

#dbid{
    font-size: 12px; 
    margin-left:50px; 
    color: #E24307;
}
.top img{
    height: 60px;
    width: 60px;
border-radius: 50%;
}

.profile-details{
    margin-left: -40px;
}

.search-bar{
    margin-top: 28px;
    margin-left: 10px;
    width:210px; 
    height:50px; 
    background: white;
    border-radius: 3px;
}

/*------will come back to this-----*/
.menu-searchbar-text{
    color:#6C757D;
}


.dashboard-menu{
display: flex;
text-decoration: none;
color: white;
margin-top: 25px;
margin-left: 20px;

} 

.dashboard-menu a{
margin-left: 3px; 
text-decoration: none; 
color: #B3b3b3;
font-size: 13px;
font-weight: 600;
display: flex;
transition: all 600ms ease;
}

.dashboard-menu a:hover{
    color: #E24307;
    margin-left: 1rem;
}

.dashboard-menu a p{
    margin-left: 0.3rem;
    margin-top: 0.3rem;;
}



.dashboard-heading{
    margin: 0px 0px 0px 250px;
    background-color: #F8F9FA;
    width: 1117px;
    height: 90%;
    position: fixed;
    overflow-y: scroll;
    
}

.dashboard-heading h2{
    color:#323643; 
    margin-left:10px; 
    margin-top:30px;
}

.dashboard-title h2{
    color:#323643; 
    margin-left:10px; 
    margin-top:30px;
}

.dashboard-title p{
    color:#323643; 
    margin-left:10px;
}

.acct_sum_title1{
    margin-top:30px; 
    margin-left: 10px;
    font-size: 12px;
    font-weight: 600;
    color:#323643;    
}

.acct_sum_title2{
    margin-top:30px; 
    margin-left: 50px;
    font-size: 12px;
    font-weight: 600;
    color:#323643;
}

.acct_details naira{
    margin-top: 20px;
    margin-left: 20px;
}

.acct_details amount{
    margin-top: 20px;
    margin-left: 0px;

} 

.acct_details status{
    margin-top: 20px;
    margin-left: 55px;
} 




.menu-item{
    margin-left: 3px; 
    text-decoration: none; 
    color: #B3b3b3;
    font-size: 13px;
}
.acct_sum{
    display:flex
}
.accounts{
    display: flex;
    margin-left: 10px;
    margin-top: 15px;
    color: aliceblue;
}
.acct_details{
    display: flex;
}
.acct-box{
    height: 118px; 
    width:230px; 
    background:#323643; 
    border-radius:5px;
    box-shadow: 0 0.2rem 8px #6C757D;
    transition: all 300ms ease;
    margin-right: 40px;
}

.acct-box:hover{
    box-shadow: none;
}



.book_balance{
    display: flex;
}

.book_balance book{
    margin-left: 20px; 
    font-size: 10px; 
    color: #B3b3b3;
}
.book_balance value{
    margin-left: 3px; 
    font-size: 10px; 
    color: #B3b3b3;
}

.user_acct_info number{
    margin-left:110px;
    margin-top: 10px;
    color: #E65100;

}

.user_acct_info name{
    margin-left:110px;
    margin-top: 0px;
}

.user_acct_info type{
    margin-left:110px;
    margin-top: 0px;color: 
    #6C757D;
}

.faq{
    margin-left: 10px; 
    margin-top: 30px; 
    color: #323643;
    font-size:10px;
    font-weight: 600;
}

.gtdata{
    margin-left: 25px; 
    margin-top: 10px; 
    font-size: 14px;
}
.gtransfer{
    margin-left: 15px; 
    margin-top: 10px; 
    font-size: 14px;
}
.record{
    margin-top:40px; text-align:center; color: #B3b3b3;
}
.button{
    display:inline; border-radius:5px;   border:solid; background:#E24307; padding:10px 10px; margin-top:10px; margin-left: 300px; color: #ffffff;
}
.pft{
    margin-left: 10px; margin-top: 20px; color: #323643;font-size:10px;
}
.import p{
    text-align: center; margin-top: 50px;
}

















.transactions-heading{
    height: 33px;
    width: 700px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #B3b3b3;
    margin-left: 10px;
    margin-top: 15px;
    background-color: white;
}

.transaction-body{
    height: 250px;
    width: 700px;
    background-color:white;
    margin-top: 8px;
}
.transaction-body-text{
    margin-top:30px;
    color: #B3b3b3;
}
.transaction-heading-flex{
    display: flex;
}

.middle-body{
    display: flex;
}
.irequire{
    width: 330px;
    height: 750px;
    background-color: #323643;
    margin-left: 20px;
    border-radius: 3px;
    position: relative;
}

.irequire-title{
    text-align: center; color:#ffffff;margin-top:40px;
}
.irequire-text{
    text-align: center; color:#B3b3b3; margin-top:20px; margin-left: 30px;margin-right: 30px;
}


.footer{
    background-color: white;
    width: 20px;
    height: 100px;
}
.irequire-column1{
    display: flex;
    margin-top: 30px;
}
.irequire-column2{
    display: flex;
    margin-top: 30px;
    
}
.irequire-column3{
    display: flex;
    margin-top: 30px;
    
}

.cash{
    background-color: white;
    color: #323643;
    width: 90px;
    height: 150px;
    border-radius: 3px;
    margin-left: 60px;
}

.cash p{
   text-align: center; margin-top: 50px;
}
.statement{
    background-color: white;
    color: #323643;
    width: 90px;
    height: 150px;
    border-radius: 3px;
    margin-left: 40px;
}

.statement p{
    text-align: center; margin-top: 50px;
 }

.token{
    background-color: white;
    color: #323643;
    width: 90px;
    height: 150px;
    border-radius: 3px;
    margin-left: 60px;

}

.token p{
    text-align: center; margin-top: 50px;
 }
.card{
    background-color: white;
    color: #323643;
    width: 90px;
    height: 150px;
    border-radius: 3px;
    margin-left: 40px;

}

.card p{
    text-align: center; margin-top: 50px;
 }

.cheque{
    background-color: white;
    color: #323643;
    width: 90px;
    height: 150px;
    border-radius: 3px;
    margin-left: 60px;
}

.cheque p{
    text-align: center; margin-top: 50px;
 }
    .import{
        background-color: white;
        color: #323643;
        width: 120px;
        height: 120px;
        border-radius: 3px;
        margin-left: 10px;
    }
    .nibss{
        background-color: white;
        color: #323643;
        width: 120px;
        height: 120px;
        border-radius: 3px;
        margin-left: 30px;
    }
    .eform{
        background-color: white;
        color: #323643;
        width: 120px;
        height: 120px;
        border-radius: 3px;
        margin-left: 30px;
    }
    .paymnet4trade{
        display: flex;
        margin-top: 30px;
    }